@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, 'apple-system';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 2.8rem;
  padding: 10px;
  margin: 5px 15px;
}

h2 {
  margin: 5px 15px;
}

.testHeader {
  width: 800px;
  background-color: #000;
  color: #fff;
}

.content {
  width: 800px;
  border: #3d3d3d 1px solid;
}

.text-box {
  margin: 5px;
  border: #3d3d3d 1px solid;
}

.btn {
  font-size: 1rem;
  color: #fff;
  background-color: #6FE57F;
  border: none;
  margin: 5px 15px 15px 15px;
  padding: 5px 10px;
  border-radius: 10px;
}

.btn:hover {
  outline: solid;
  outline-offset: 5px;
  outline-color: #000;
}

.btn:disabled{
  cursor: default;
  outline: none;
  background-color: #ff0033;
}